.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}
.header-img {
    width: 80%;
    margin: 10px;
}
.form-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    width: 100%;
}
.form-name {
    font-weight: bold;
}
.form-content {
    margin: 0;
}
.form-error {
    color: red;
    margin: 0;
    height: 30px;
}
.form-input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
.submit-btn {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.link {
    color: #0073cc;
    text-decoration: none;
}
.link:visited {
    color: #0073cc;
}
.header-logo-area {
    display: flex;
    width: 30%;
}
.header-logo {
    width: 100%;
    height: auto;
    margin-left: 10px;
    outline: none;
}
.header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
    padding-inline-start: 0;
    height: 100%;
}
.header-btn-list {
    list-style: none;
}
.header-btn {
    color: white;
    background: black;
    border: none;
    height: 50%;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
}
.hamburger {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .main {
        &.menu-is-open {
            position: relative;
            top: 44px;
        }
    }
    .form-title {
        margin: 0;
    }
    .form-area {
        width: 100%;
    }
    .header {
        height: 44px;
        flex-direction: column;
        &.menu-is-open {
            display: block;
            height: auto;
            width: auto;
            position: fixed;
            z-index: 10;
            width: 98%;
        }
    }
    .header-logo-area {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        width: 40%;
    }
    .header-img {
        width: 50%;
    }
    .header-btns {
        display: none;
        &.menu-is-open {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: auto;
            height: 100%;
            width: 100%;
            z-index: 10;
        }
    }
    .header-btn {
        width: 100%;
        background: white;
        color: black;
        display: block;
        text-align: center;
        border: solid 1px black;
        box-sizing: border-box;
        height: 100%;
        padding: 0.5em;
    }
    .hamburger {
        width: 44px;
        height: 44px;
        background: url("../img/bars-solid-full.svg") no-repeat;
        display: block;
        &.menu-is-open {
            background: url("../img/xmark-solid-full.svg") no-repeat;
        }
    }
}
