.container {
    width: 80%;
}
.title {
    border-left: solid 10px black;
    padding: 0 0.5em;
    font-size: x-large;
}
.selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 1em;
    border-radius: 10px;
    font-weight: bold;
}
.selector__pre-day {
    display: flex;
    text-decoration: none;
}
.selector__next-day {
    display: flex;
    text-decoration: none;
}
.selector__arrow {
    color: #b2b2b2;
    font-weight: bolder;
}
.selector__day {
    color: #737373;
}
.calendar {
    display: flex;
}
.calendar__input {
    border: none;
    font-size: large;
    font-weight: bold;
    width: 6em;
    text-align: center;
}
.calendar__img {
    width: 2em;
    height: 2em;
    cursor: pointer;
}
.main {
    width: 100%;
    background: #f0eff2;
    min-height: calc(100svh - 60px);
    padding-bottom: 3em;
}
.table {
    color: #737373;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin-top: 2em;
    font-weight: bold;
}
.table-header {
    border-bottom: 3px solid #e1e1e1;
    height: 2em;
}
.table-header__name--wide {
    width: calc((100% / 7) * 2);
}
.table-header__name {
    width: calc(100% / 7);
}
.table-line {
    border-bottom: 2px solid #e1e1e1;
    height: 2.5em;
}
.table-line__data {
    text-align: center;
}
.table-line__data--link {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) {
    .main {
        min-height: calc(100svh - 44px);
    }
    .container {
        width: 95%;
    }
    .table__data {
        width: auto;
    }
}
