.list-area {
    width: 600px;
}
.list-title {
    border-left: solid 10px black;
    padding: 0 0.5em;
}
.list-select-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 1em;
    border-radius: 10px;
}
.list-select {
    display: flex;
    text-decoration: none;
}
.list-select-arrow {
    font-weight: bold;
    color: #b2b2b2;
}
.list-arrow-month {
    color: #737373;
}
.list-select-calendar {
    display: flex;
}
.list-select-month {
    border: none;
    font-size: large;
    font-weight: bold;
    padding-left: 1em;
    width: 8em;
}
.calender-img {
    width: 2em;
    height: 2em;
}
/* .list-select-month::before {
    content: url("../../img/calendar-regular-full.svg");
    display: block;
    width: 3em;
    height: 3em;
}
.list-select-month::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background: transparent;
    z-index: 1;
} */
.main {
    background: #f0eff2;
    min-height: calc(100svh - 60px);
}
@media screen and (max-width: 768px) {
    .main {
        min-height: calc(100svh - 44px);
    }
}
