.container {
    width: 80%;
}
.title {
    border-left: solid 10px black;
    padding: 0 0.5em;
}
.selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 1em;
    border-radius: 10px;
    font-weight: bold;
}
.selector__pre-month {
    display: flex;
    text-decoration: none;
}
.selector__next-month {
    display: flex;
    text-decoration: none;
}
.selector__arrow {
    color: #b2b2b2;
}
.selector__month {
    color: #737373;
}
.calendar {
    display: flex;
}
.calendar__input {
    border: none;
    font-size: large;
    font-weight: bold;
    width: 5em;
    text-align: center;
}
.calendar__img {
    width: 2em;
    height: 2em;
}
.table {
    width: 100%;
    background-color: white;
    margin-top: 2em;
    border-radius: 10px;
    font-weight: bold;
}
.table__header {
    border-bottom: 4px solid #f0eff2;
    color: #737373;
    height: 2em;
}
.table__data {
    border-bottom: 3px solid #f0eff2;
    color: #737373;
    text-align: center;
    width: calc(100% / 6);
    height: 2.5em;
}
.table__data--detail {
    color: black;
}
.table__data--active {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.main {
    width: 100%;
    background: #f0eff2;
    min-height: calc(100svh - 60px);
    padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
    .main {
        min-height: calc(100svh - 44px);
    }
    .container {
        width: 95%;
    }
    .table__data {
        width: auto;
    }
}
